body { 
    margin: 0; 
    padding: 0; 
}
#map {
    width: 100%;
    height: 100vh; /* Default height to be the full viewport height */
    position: relative; /* Ensures it fills its container */
}
