.numbered-marker {
    color: white;
    border-radius: 50%;
    width: 20.0px;
    height: 20.0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: 2px solid white;
}
